<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
  </head>
  <body>
    <h1>Product</h1>
    <form action="/categories" method="POST">
      <input type="text" name="name" placeholder="Product name" required />
      <button type="submit">Add Product</button>
    </form>

    <ul>
      <% categories.forEach(category => { %>
      <li>
        <%= category.name %>
        <a href="/categories/edit/<%= category._id %>">Edit</a>
        <form
          action="/categories/delete/<%= category._id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
      <input type="file" name="image" id="image" />
    </ul>
  </body>
</html>
